body{
    margin-top: 0%;
    background-color: rgb(182, 179, 179);
}
.tela{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}
h1{
    text-align: center;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
}
.butto{
    background-color: rgb(105, 103, 103);
    color: white;
}
.butto-final{
    position: relative;
    left: 90%;
    transform: translateX(-50%);
    height: 30px;
    width: 150px;
    font-size: 20px;
    background-color: rgb(53, 192, 157);
    color: rgb(0, 0, 0);
}
input{
    height: 25px;
}
th, label{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}